.appveyor.yml export-ignore
.circleci/ export-ignore
.github export-ignore
Dockerfile export-ignore
.dockerignore export-ignore
tests/** export-ignore
#tests/ivtest export-ignore
notebooks export-ignore
