include *.txt *.md
include MANIFEST.in
include README.md
include setup.py
include setup.cfg
include pyproject.toml
include LICENSE

recursive-include include *.h
recursive-include src *.cpp *.h *.txt
recursive-include grammars *.g4
recursive-include hdlConvertor *.cpp *.h *.txt *.pyx *.py

